.power Vdd=1
.thresholds Vol=0 Vil=0.1 Vih=0.9 Voh=1

.group inputs FN[5:0] A[31:0] B[31:0]
.group outputs Y[31:0] Z V N

.mode gate

.cycle assert inputs tran 99n sample outputs tran 1n

100000 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //   1: fn=F0000, a=0xff00ff00, b=0xffff0000, y=0x00000000
100001 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLHHHHHHHH LLH //   2: fn=F0001, a=0xff00ff00, b=0xffff0000, y=0x000000ff
100010 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLLLLLLLLLHHHHHHHHLLLLLLLL LLH //   3: fn=F0010, a=0xff00ff00, b=0xffff0000, y=0x0000ff00
100011 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLLLLLLLLLHHHHHHHHHHHHHHHH LLH //   4: fn=F0011, a=0xff00ff00, b=0xffff0000, y=0x0000ffff
100100 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLHHHHHHHHLLLLLLLLLLLLLLLL LLH //   5: fn=F0100, a=0xff00ff00, b=0xffff0000, y=0x00ff0000
100101 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLHHHHHHHHLLLLLLLLHHHHHHHH LLH //   6: fn=F0101, a=0xff00ff00, b=0xffff0000, y=0x00ff00ff
100110 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLHHHHHHHHHHHHHHHHLLLLLLLL LLH //   7: fn=  XOR, a=0xff00ff00, b=0xffff0000, y=0x00ffff00
100111 11111111000000001111111100000000 11111111111111110000000000000000 LLLLLLLLHHHHHHHHHHHHHHHHHHHHHHHH LLH //   8: fn=F0111, a=0xff00ff00, b=0xffff0000, y=0x00ffffff
101000 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHLLLLLLLLLLLLLLLLLLLLLLLL LLH //   9: fn=  AND, a=0xff00ff00, b=0xffff0000, y=0xff000000
101001 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHLLLLLLLLLLLLLLLLHHHHHHHH LLH //  10: fn= XNOR, a=0xff00ff00, b=0xffff0000, y=0xff0000ff
101010 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHLLLLLLLLHHHHHHHHLLLLLLLL LLH //  11: fn=    A, a=0xff00ff00, b=0xffff0000, y=0xff00ff00
101011 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHLLLLLLLLHHHHHHHHHHHHHHHH LLH //  12: fn=F1011, a=0xff00ff00, b=0xffff0000, y=0xff00ffff
101100 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHHHHHHHHHLLLLLLLLLLLLLLLL LLH //  13: fn=F1100, a=0xff00ff00, b=0xffff0000, y=0xffff0000
101101 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHHHHHHHHHLLLLLLLLHHHHHHHH LLH //  14: fn=F1101, a=0xff00ff00, b=0xffff0000, y=0xffff00ff
101110 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHLLLLLLLL LLH //  15: fn=   OR, a=0xff00ff00, b=0xffff0000, y=0xffffff00
101111 11111111000000001111111100000000 11111111111111110000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  16: fn=F1111, a=0xff00ff00, b=0xffff0000, y=0xffffffff
110000 00000000000000000000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL //  17: fn=  SHL, a=0x00000000, b=0x00000000, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL //  18: fn=  SHR, a=0x00000000, b=0x00000000, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL //  19: fn=  SRA, a=0x00000000, b=0x00000000, y=0x00000000
110000 00000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  20: fn=  SHL, a=0x00000000, b=0x00000001, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  21: fn=  SHR, a=0x00000000, b=0x00000001, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  22: fn=  SRA, a=0x00000000, b=0x00000001, y=0x00000000
110000 00000000000000000000000000000000 00000000000000000000000000000010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  23: fn=  SHL, a=0x00000000, b=0x00000002, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000000010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  24: fn=  SHR, a=0x00000000, b=0x00000002, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000000010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  25: fn=  SRA, a=0x00000000, b=0x00000002, y=0x00000000
110000 00000000000000000000000000000000 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  26: fn=  SHL, a=0x00000000, b=0x00000004, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  27: fn=  SHR, a=0x00000000, b=0x00000004, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  28: fn=  SRA, a=0x00000000, b=0x00000004, y=0x00000000
110000 00000000000000000000000000000000 00000000000000000000000000001000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  29: fn=  SHL, a=0x00000000, b=0x00000008, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000001000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  30: fn=  SHR, a=0x00000000, b=0x00000008, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000001000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  31: fn=  SRA, a=0x00000000, b=0x00000008, y=0x00000000
110000 00000000000000000000000000000000 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  32: fn=  SHL, a=0x00000000, b=0x00000010, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  33: fn=  SHR, a=0x00000000, b=0x00000010, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  34: fn=  SRA, a=0x00000000, b=0x00000010, y=0x00000000
110000 00000000000000000000000000000000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  35: fn=  SHL, a=0x00000000, b=0x0000001f, y=0x00000000
110001 00000000000000000000000000000000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  36: fn=  SHR, a=0x00000000, b=0x0000001f, y=0x00000000
110011 00000000000000000000000000000000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  37: fn=  SRA, a=0x00000000, b=0x0000001f, y=0x00000000
110000 00000000000000000000000000000001 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL //  38: fn=  SHL, a=0x00000001, b=0x00000000, y=0x00000001
110001 00000000000000000000000000000001 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL //  39: fn=  SHR, a=0x00000001, b=0x00000000, y=0x00000001
110011 00000000000000000000000000000001 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL //  40: fn=  SRA, a=0x00000001, b=0x00000000, y=0x00000001
110000 00000000000000000000000000000001 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLHL LLL //  41: fn=  SHL, a=0x00000001, b=0x00000001, y=0x00000002
110001 00000000000000000000000000000001 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL //  42: fn=  SHR, a=0x00000001, b=0x00000001, y=0x00000000
110011 00000000000000000000000000000001 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL //  43: fn=  SRA, a=0x00000001, b=0x00000001, y=0x00000000
110000 00000000000000000000000000000001 00000000000000000000000000000010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLHLL LLL //  44: fn=  SHL, a=0x00000001, b=0x00000002, y=0x00000004
110001 00000000000000000000000000000001 00000000000000000000000000000010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  45: fn=  SHR, a=0x00000001, b=0x00000002, y=0x00000000
110011 00000000000000000000000000000001 00000000000000000000000000000010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  46: fn=  SRA, a=0x00000001, b=0x00000002, y=0x00000000
110000 00000000000000000000000000000001 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLHLLLL LLL //  47: fn=  SHL, a=0x00000001, b=0x00000004, y=0x00000010
110001 00000000000000000000000000000001 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  48: fn=  SHR, a=0x00000001, b=0x00000004, y=0x00000000
110011 00000000000000000000000000000001 00000000000000000000000000000100 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  49: fn=  SRA, a=0x00000001, b=0x00000004, y=0x00000000
110000 00000000000000000000000000000001 00000000000000000000000000001000 LLLLLLLLLLLLLLLLLLLLLLLHLLLLLLLL LLL //  50: fn=  SHL, a=0x00000001, b=0x00000008, y=0x00000100
110001 00000000000000000000000000000001 00000000000000000000000000001000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  51: fn=  SHR, a=0x00000001, b=0x00000008, y=0x00000000
110011 00000000000000000000000000000001 00000000000000000000000000001000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  52: fn=  SRA, a=0x00000001, b=0x00000008, y=0x00000000
110000 00000000000000000000000000000001 00000000000000000000000000010000 LLLLLLLLLLLLLLLHLLLLLLLLLLLLLLLL LLL //  53: fn=  SHL, a=0x00000001, b=0x00000010, y=0x00010000
110001 00000000000000000000000000000001 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  54: fn=  SHR, a=0x00000001, b=0x00000010, y=0x00000000
110011 00000000000000000000000000000001 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  55: fn=  SRA, a=0x00000001, b=0x00000010, y=0x00000000
110000 00000000000000000000000000000001 00000000000000000000000000011111 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  56: fn=  SHL, a=0x00000001, b=0x0000001f, y=0x80000000
110001 00000000000000000000000000000001 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  57: fn=  SHR, a=0x00000001, b=0x0000001f, y=0x00000000
110011 00000000000000000000000000000001 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH //  58: fn=  SRA, a=0x00000001, b=0x0000001f, y=0x00000000
110000 11111111111111111111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  59: fn=  SHL, a=0xffffffff, b=0x00000000, y=0xffffffff
110001 11111111111111111111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  60: fn=  SHR, a=0xffffffff, b=0x00000000, y=0xffffffff
110011 11111111111111111111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  61: fn=  SRA, a=0xffffffff, b=0x00000000, y=0xffffffff
110000 11111111111111111111111111111111 00000000000000000000000000000001 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHL HLL //  62: fn=  SHL, a=0xffffffff, b=0x00000001, y=0xfffffffe
110001 11111111111111111111111111111111 00000000000000000000000000000001 LHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  63: fn=  SHR, a=0xffffffff, b=0x00000001, y=0x7fffffff
110011 11111111111111111111111111111111 00000000000000000000000000000001 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  64: fn=  SRA, a=0xffffffff, b=0x00000001, y=0xffffffff
110000 11111111111111111111111111111111 00000000000000000000000000000010 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHLL LLL //  65: fn=  SHL, a=0xffffffff, b=0x00000002, y=0xfffffffc
110001 11111111111111111111111111111111 00000000000000000000000000000010 LLHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  66: fn=  SHR, a=0xffffffff, b=0x00000002, y=0x3fffffff
110011 11111111111111111111111111111111 00000000000000000000000000000010 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  67: fn=  SRA, a=0xffffffff, b=0x00000002, y=0xffffffff
110000 11111111111111111111111111111111 00000000000000000000000000000100 HHHHHHHHHHHHHHHHHHHHHHHHHHHHLLLL LLL //  68: fn=  SHL, a=0xffffffff, b=0x00000004, y=0xfffffff0
110001 11111111111111111111111111111111 00000000000000000000000000000100 LLLLHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  69: fn=  SHR, a=0xffffffff, b=0x00000004, y=0x0fffffff
110011 11111111111111111111111111111111 00000000000000000000000000000100 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  70: fn=  SRA, a=0xffffffff, b=0x00000004, y=0xffffffff
110000 11111111111111111111111111111111 00000000000000000000000000001000 HHHHHHHHHHHHHHHHHHHHHHHHLLLLLLLL LLL //  71: fn=  SHL, a=0xffffffff, b=0x00000008, y=0xffffff00
110001 11111111111111111111111111111111 00000000000000000000000000001000 LLLLLLLLHHHHHHHHHHHHHHHHHHHHHHHH LLH //  72: fn=  SHR, a=0xffffffff, b=0x00000008, y=0x00ffffff
110011 11111111111111111111111111111111 00000000000000000000000000001000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  73: fn=  SRA, a=0xffffffff, b=0x00000008, y=0xffffffff
110000 11111111111111111111111111111111 00000000000000000000000000010000 HHHHHHHHHHHHHHHHLLLLLLLLLLLLLLLL LLL //  74: fn=  SHL, a=0xffffffff, b=0x00000010, y=0xffff0000
110001 11111111111111111111111111111111 00000000000000000000000000010000 LLLLLLLLLLLLLLLLHHHHHHHHHHHHHHHH LLH //  75: fn=  SHR, a=0xffffffff, b=0x00000010, y=0x0000ffff
110011 11111111111111111111111111111111 00000000000000000000000000010000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  76: fn=  SRA, a=0xffffffff, b=0x00000010, y=0xffffffff
110000 11111111111111111111111111111111 00000000000000000000000000011111 HLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  77: fn=  SHL, a=0xffffffff, b=0x0000001f, y=0x80000000
110001 11111111111111111111111111111111 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLH //  78: fn=  SHR, a=0xffffffff, b=0x0000001f, y=0x00000001
110011 11111111111111111111111111111111 00000000000000000000000000011111 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH //  79: fn=  SRA, a=0xffffffff, b=0x0000001f, y=0xffffffff
110000 00010010001101000101011001111000 00000000000000000000000000000000 LLLHLLHLLLHHLHLLLHLHLHHLLHHHHLLL LLL //  80: fn=  SHL, a=0x12345678, b=0x00000000, y=0x12345678
110001 00010010001101000101011001111000 00000000000000000000000000000000 LLLHLLHLLLHHLHLLLHLHLHHLLHHHHLLL LLL //  81: fn=  SHR, a=0x12345678, b=0x00000000, y=0x12345678
110011 00010010001101000101011001111000 00000000000000000000000000000000 LLLHLLHLLLHHLHLLLHLHLHHLLHHHHLLL LLL //  82: fn=  SRA, a=0x12345678, b=0x00000000, y=0x12345678
110000 00010010001101000101011001111000 00000000000000000000000000000001 LLHLLHLLLHHLHLLLHLHLHHLLHHHHLLLL LLL //  83: fn=  SHL, a=0x12345678, b=0x00000001, y=0x2468acf0
110001 00010010001101000101011001111000 00000000000000000000000000000001 LLLLHLLHLLLHHLHLLLHLHLHHLLHHHHLL LLL //  84: fn=  SHR, a=0x12345678, b=0x00000001, y=0x091a2b3c
110011 00010010001101000101011001111000 00000000000000000000000000000001 LLLLHLLHLLLHHLHLLLHLHLHHLLHHHHLL LLL //  85: fn=  SRA, a=0x12345678, b=0x00000001, y=0x091a2b3c
110000 00010010001101000101011001111000 00000000000000000000000000000010 LHLLHLLLHHLHLLLHLHLHHLLHHHHLLLLL LLL //  86: fn=  SHL, a=0x12345678, b=0x00000002, y=0x48d159e0
110001 00010010001101000101011001111000 00000000000000000000000000000010 LLLLLHLLHLLLHHLHLLLHLHLHHLLHHHHL LLL //  87: fn=  SHR, a=0x12345678, b=0x00000002, y=0x048d159e
110011 00010010001101000101011001111000 00000000000000000000000000000010 LLLLLHLLHLLLHHLHLLLHLHLHHLLHHHHL LLL //  88: fn=  SRA, a=0x12345678, b=0x00000002, y=0x048d159e
110000 00010010001101000101011001111000 00000000000000000000000000000100 LLHLLLHHLHLLLHLHLHHLLHHHHLLLLLLL LLL //  89: fn=  SHL, a=0x12345678, b=0x00000004, y=0x23456780
110001 00010010001101000101011001111000 00000000000000000000000000000100 LLLLLLLHLLHLLLHHLHLLLHLHLHHLLHHH LLL //  90: fn=  SHR, a=0x12345678, b=0x00000004, y=0x01234567
110011 00010010001101000101011001111000 00000000000000000000000000000100 LLLLLLLHLLHLLLHHLHLLLHLHLHHLLHHH LLL //  91: fn=  SRA, a=0x12345678, b=0x00000004, y=0x01234567
110000 00010010001101000101011001111000 00000000000000000000000000001000 LLHHLHLLLHLHLHHLLHHHHLLLLLLLLLLL LLL //  92: fn=  SHL, a=0x12345678, b=0x00000008, y=0x34567800
110001 00010010001101000101011001111000 00000000000000000000000000001000 LLLLLLLLLLLHLLHLLLHHLHLLLHLHLHHL LLL //  93: fn=  SHR, a=0x12345678, b=0x00000008, y=0x00123456
110011 00010010001101000101011001111000 00000000000000000000000000001000 LLLLLLLLLLLHLLHLLLHHLHLLLHLHLHHL LLL //  94: fn=  SRA, a=0x12345678, b=0x00000008, y=0x00123456
110000 00010010001101000101011001111000 00000000000000000000000000010000 LHLHLHHLLHHHHLLLLLLLLLLLLLLLLLLL LLL //  95: fn=  SHL, a=0x12345678, b=0x00000010, y=0x56780000
110001 00010010001101000101011001111000 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLHLLHLLLHHLHLL LLL //  96: fn=  SHR, a=0x12345678, b=0x00000010, y=0x00001234
110011 00010010001101000101011001111000 00000000000000000000000000010000 LLLLLLLLLLLLLLLLLLLHLLHLLLHHLHLL LLL //  97: fn=  SRA, a=0x12345678, b=0x00000010, y=0x00001234
110000 00010010001101000101011001111000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  98: fn=  SHL, a=0x12345678, b=0x0000001f, y=0x00000000
110001 00010010001101000101011001111000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL //  99: fn=  SHR, a=0x12345678, b=0x0000001f, y=0x00000000
110011 00010010001101000101011001111000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL // 100: fn=  SRA, a=0x12345678, b=0x0000001f, y=0x00000000
110000 11111110110111001010101110011000 00000000000000000000000000000000 HHHHHHHLHHLHHHLLHLHLHLHHHLLHHLLL LLH // 101: fn=  SHL, a=0xfedcab98, b=0x00000000, y=0xfedcab98
110001 11111110110111001010101110011000 00000000000000000000000000000000 HHHHHHHLHHLHHHLLHLHLHLHHHLLHHLLL LLH // 102: fn=  SHR, a=0xfedcab98, b=0x00000000, y=0xfedcab98
110011 11111110110111001010101110011000 00000000000000000000000000000000 HHHHHHHLHHLHHHLLHLHLHLHHHLLHHLLL LLH // 103: fn=  SRA, a=0xfedcab98, b=0x00000000, y=0xfedcab98
110000 11111110110111001010101110011000 00000000000000000000000000000001 HHHHHHLHHLHHHLLHLHLHLHHHLLHHLLLL LLH // 104: fn=  SHL, a=0xfedcab98, b=0x00000001, y=0xfdb95730
110001 11111110110111001010101110011000 00000000000000000000000000000001 LHHHHHHHLHHLHHHLLHLHLHLHHHLLHHLL LLH // 105: fn=  SHR, a=0xfedcab98, b=0x00000001, y=0x7f6e55cc
110011 11111110110111001010101110011000 00000000000000000000000000000001 HHHHHHHHLHHLHHHLLHLHLHLHHHLLHHLL LLH // 106: fn=  SRA, a=0xfedcab98, b=0x00000001, y=0xff6e55cc
110000 11111110110111001010101110011000 00000000000000000000000000000010 HHHHHLHHLHHHLLHLHLHLHHHLLHHLLLLL LLH // 107: fn=  SHL, a=0xfedcab98, b=0x00000002, y=0xfb72ae60
110001 11111110110111001010101110011000 00000000000000000000000000000010 LLHHHHHHHLHHLHHHLLHLHLHLHHHLLHHL LLH // 108: fn=  SHR, a=0xfedcab98, b=0x00000002, y=0x3fb72ae6
110011 11111110110111001010101110011000 00000000000000000000000000000010 HHHHHHHHHLHHLHHHLLHLHLHLHHHLLHHL LLH // 109: fn=  SRA, a=0xfedcab98, b=0x00000002, y=0xffb72ae6
110000 11111110110111001010101110011000 00000000000000000000000000000100 HHHLHHLHHHLLHLHLHLHHHLLHHLLLLLLL LLH // 110: fn=  SHL, a=0xfedcab98, b=0x00000004, y=0xedcab980
110001 11111110110111001010101110011000 00000000000000000000000000000100 LLLLHHHHHHHLHHLHHHLLHLHLHLHHHLLH LLH // 111: fn=  SHR, a=0xfedcab98, b=0x00000004, y=0x0fedcab9
110011 11111110110111001010101110011000 00000000000000000000000000000100 HHHHHHHHHHHLHHLHHHLLHLHLHLHHHLLH LLH // 112: fn=  SRA, a=0xfedcab98, b=0x00000004, y=0xffedcab9
110000 11111110110111001010101110011000 00000000000000000000000000001000 HHLHHHLLHLHLHLHHHLLHHLLLLLLLLLLL LLH // 113: fn=  SHL, a=0xfedcab98, b=0x00000008, y=0xdcab9800
110001 11111110110111001010101110011000 00000000000000000000000000001000 LLLLLLLLHHHHHHHLHHLHHHLLHLHLHLHH LLH // 114: fn=  SHR, a=0xfedcab98, b=0x00000008, y=0x00fedcab
110011 11111110110111001010101110011000 00000000000000000000000000001000 HHHHHHHHHHHHHHHLHHLHHHLLHLHLHLHH LLH // 115: fn=  SRA, a=0xfedcab98, b=0x00000008, y=0xfffedcab
110000 11111110110111001010101110011000 00000000000000000000000000010000 HLHLHLHHHLLHHLLLLLLLLLLLLLLLLLLL LLH // 116: fn=  SHL, a=0xfedcab98, b=0x00000010, y=0xab980000
110001 11111110110111001010101110011000 00000000000000000000000000010000 LLLLLLLLLLLLLLLLHHHHHHHLHHLHHHLL LLH // 117: fn=  SHR, a=0xfedcab98, b=0x00000010, y=0x0000fedc
110011 11111110110111001010101110011000 00000000000000000000000000010000 HHHHHHHHHHHHHHHHHHHHHHHLHHLHHHLL LLH // 118: fn=  SRA, a=0xfedcab98, b=0x00000010, y=0xfffffedc
110000 11111110110111001010101110011000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH // 119: fn=  SHL, a=0xfedcab98, b=0x0000001f, y=0x00000000
110001 11111110110111001010101110011000 00000000000000000000000000011111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLH // 120: fn=  SHR, a=0xfedcab98, b=0x0000001f, y=0x00000001
110011 11111110110111001010101110011000 00000000000000000000000000011111 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 121: fn=  SRA, a=0xfedcab98, b=0x0000001f, y=0xffffffff
010000 00000000000000000000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 122: fn=  ADD, a=0x00000000, b=0x00000000, y=0x00000000
010000 00000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL // 123: fn=  ADD, a=0x00000000, b=0x00000001, y=0x00000001
010000 00000000000000000000000000000000 11111111111111111111111111111111 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 124: fn=  ADD, a=0x00000000, b=0x-0000001, y=0xffffffff
010000 00000000000000000000000000000000 10101010101010101010101010101010 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHL LLH // 125: fn=  ADD, a=0x00000000, b=0xaaaaaaaa, y=0xaaaaaaaa
010000 00000000000000000000000000000000 01010101010101010101010101010101 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLH LLL // 126: fn=  ADD, a=0x00000000, b=0x55555555, y=0x55555555
010000 00000000000000000000000000000001 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL // 127: fn=  ADD, a=0x00000001, b=0x00000000, y=0x00000001
010000 00000000000000000000000000000001 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLHL LLL // 128: fn=  ADD, a=0x00000001, b=0x00000001, y=0x00000002
010000 00000000000000000000000000000001 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 129: fn=  ADD, a=0x00000001, b=0x-0000001, y=0x00000000
010000 00000000000000000000000000000001 10101010101010101010101010101010 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHH LLH // 130: fn=  ADD, a=0x00000001, b=0xaaaaaaaa, y=0xaaaaaaab
010000 00000000000000000000000000000001 01010101010101010101010101010101 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHHL LLL // 131: fn=  ADD, a=0x00000001, b=0x55555555, y=0x55555556
010000 11111111111111111111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 132: fn=  ADD, a=0x-0000001, b=0x00000000, y=0xffffffff
010000 11111111111111111111111111111111 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 133: fn=  ADD, a=0x-0000001, b=0x00000001, y=0x00000000
010000 11111111111111111111111111111111 11111111111111111111111111111111 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHL LLH // 134: fn=  ADD, a=0x-0000001, b=0x-0000001, y=0xfffffffe
010000 11111111111111111111111111111111 10101010101010101010101010101010 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLLH LLH // 135: fn=  ADD, a=0x-0000001, b=0xaaaaaaaa, y=0xaaaaaaa9
010000 11111111111111111111111111111111 01010101010101010101010101010101 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLL LLL // 136: fn=  ADD, a=0x-0000001, b=0x55555555, y=0x55555554
010000 10101010101010101010101010101010 00000000000000000000000000000000 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHL LLH // 137: fn=  ADD, a=0xaaaaaaaa, b=0x00000000, y=0xaaaaaaaa
010000 10101010101010101010101010101010 00000000000000000000000000000001 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHH LLH // 138: fn=  ADD, a=0xaaaaaaaa, b=0x00000001, y=0xaaaaaaab
010000 10101010101010101010101010101010 11111111111111111111111111111111 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLLH LLH // 139: fn=  ADD, a=0xaaaaaaaa, b=0x-0000001, y=0xaaaaaaa9
010000 10101010101010101010101010101010 10101010101010101010101010101010 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLL LHL // 140: fn=  ADD, a=0xaaaaaaaa, b=0xaaaaaaaa, y=0x55555554
010000 10101010101010101010101010101010 01010101010101010101010101010101 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 141: fn=  ADD, a=0xaaaaaaaa, b=0x55555555, y=0xffffffff
010000 01010101010101010101010101010101 00000000000000000000000000000000 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLH LLL // 142: fn=  ADD, a=0x55555555, b=0x00000000, y=0x55555555
010000 01010101010101010101010101010101 00000000000000000000000000000001 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHHL LLL // 143: fn=  ADD, a=0x55555555, b=0x00000001, y=0x55555556
010000 01010101010101010101010101010101 11111111111111111111111111111111 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLL LLL // 144: fn=  ADD, a=0x55555555, b=0x-0000001, y=0x55555554
010000 01010101010101010101010101010101 10101010101010101010101010101010 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 145: fn=  ADD, a=0x55555555, b=0xaaaaaaaa, y=0xffffffff
010000 01010101010101010101010101010101 01010101010101010101010101010101 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHL LHH // 146: fn=  ADD, a=0x55555555, b=0x55555555, y=0xaaaaaaaa
010001 00000000000000000000000000000000 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 147: fn=  SUB, a=0x00000000, b=0x00000000, y=0x00000000
010001 00000000000000000000000000000000 00000000000000000000000000000001 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 148: fn=  SUB, a=0x00000000, b=0x00000001, y=0xffffffff
010001 00000000000000000000000000000000 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL // 149: fn=  SUB, a=0x00000000, b=0x-0000001, y=0x00000001
010001 00000000000000000000000000000000 10101010101010101010101010101010 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHHL LLL // 150: fn=  SUB, a=0x00000000, b=0xaaaaaaaa, y=0x55555556
010001 00000000000000000000000000000000 01010101010101010101010101010101 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHH LLH // 151: fn=  SUB, a=0x00000000, b=0x55555555, y=0xaaaaaaab
010001 00000000000000000000000000000001 00000000000000000000000000000000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLL // 152: fn=  SUB, a=0x00000001, b=0x00000000, y=0x00000001
010001 00000000000000000000000000000001 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 153: fn=  SUB, a=0x00000001, b=0x00000001, y=0x00000000
010001 00000000000000000000000000000001 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLHL LLL // 154: fn=  SUB, a=0x00000001, b=0x-0000001, y=0x00000002
010001 00000000000000000000000000000001 10101010101010101010101010101010 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHHH LLL // 155: fn=  SUB, a=0x00000001, b=0xaaaaaaaa, y=0x55555557
010001 00000000000000000000000000000001 01010101010101010101010101010101 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHHLL LLH // 156: fn=  SUB, a=0x00000001, b=0x55555555, y=0xaaaaaaac
010001 11111111111111111111111111111111 00000000000000000000000000000000 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH LLH // 157: fn=  SUB, a=0x-0000001, b=0x00000000, y=0xffffffff
010001 11111111111111111111111111111111 00000000000000000000000000000001 HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHL LLH // 158: fn=  SUB, a=0x-0000001, b=0x00000001, y=0xfffffffe
010001 11111111111111111111111111111111 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 159: fn=  SUB, a=0x-0000001, b=0x-0000001, y=0x00000000
010001 11111111111111111111111111111111 10101010101010101010101010101010 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLH LLL // 160: fn=  SUB, a=0x-0000001, b=0xaaaaaaaa, y=0x55555555
010001 11111111111111111111111111111111 01010101010101010101010101010101 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHL LLH // 161: fn=  SUB, a=0x-0000001, b=0x55555555, y=0xaaaaaaaa
010001 10101010101010101010101010101010 00000000000000000000000000000000 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHL LLH // 162: fn=  SUB, a=0xaaaaaaaa, b=0x00000000, y=0xaaaaaaaa
010001 10101010101010101010101010101010 00000000000000000000000000000001 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLLH LLH // 163: fn=  SUB, a=0xaaaaaaaa, b=0x00000001, y=0xaaaaaaa9
010001 10101010101010101010101010101010 11111111111111111111111111111111 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHH LLH // 164: fn=  SUB, a=0xaaaaaaaa, b=0x-0000001, y=0xaaaaaaab
010001 10101010101010101010101010101010 10101010101010101010101010101010 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 165: fn=  SUB, a=0xaaaaaaaa, b=0xaaaaaaaa, y=0x00000000
010001 10101010101010101010101010101010 01010101010101010101010101010101 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLH LHL // 166: fn=  SUB, a=0xaaaaaaaa, b=0x55555555, y=0x55555555
010001 01010101010101010101010101010101 00000000000000000000000000000000 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLH LLL // 167: fn=  SUB, a=0x55555555, b=0x00000000, y=0x55555555
010001 01010101010101010101010101010101 00000000000000000000000000000001 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHLL LLL // 168: fn=  SUB, a=0x55555555, b=0x00000001, y=0x55555554
010001 01010101010101010101010101010101 11111111111111111111111111111111 LHLHLHLHLHLHLHLHLHLHLHLHLHLHLHHL LLL // 169: fn=  SUB, a=0x55555555, b=0x-0000001, y=0x55555556
010001 01010101010101010101010101010101 10101010101010101010101010101010 HLHLHLHLHLHLHLHLHLHLHLHLHLHLHLHH LHH // 170: fn=  SUB, a=0x55555555, b=0xaaaaaaaa, y=0xaaaaaaab
010001 01010101010101010101010101010101 01010101010101010101010101010101 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 171: fn=  SUB, a=0x55555555, b=0x55555555, y=0x00000000
000011 00000000000000000000000000000101 11011110101011011011111011101111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL // 172: fn=CMPEQ, a=0x00000005, b=0xdeadbeef, y=0x00000000
000101 00000000000000000000000000000101 11011110101011011011111011101111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL // 173: fn=CMPLT, a=0x00000005, b=0xdeadbeef, y=0x00000000
000111 00000000000000000000000000000101 11011110101011011011111011101111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLL // 174: fn=CMPLE, a=0x00000005, b=0xdeadbeef, y=0x00000000
000011 00010010001101000101011001111000 00010010001101000101011001111000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH HLL // 175: fn=CMPEQ, a=0x12345678, b=0x12345678, y=0x00000001
000101 00010010001101000101011001111000 00010010001101000101011001111000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL HLL // 176: fn=CMPLT, a=0x12345678, b=0x12345678, y=0x00000000
000111 00010010001101000101011001111000 00010010001101000101011001111000 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH HLL // 177: fn=CMPLE, a=0x12345678, b=0x12345678, y=0x00000001
000011 10000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LHL // 178: fn=CMPEQ, a=0x80000000, b=0x00000001, y=0x00000000
000101 10000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LHL // 179: fn=CMPLT, a=0x80000000, b=0x00000001, y=0x00000001
000111 10000000000000000000000000000000 00000000000000000000000000000001 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LHL // 180: fn=CMPLE, a=0x80000000, b=0x00000001, y=0x00000001
000011 11011110101011011011111011101111 00000000000000000000000000000101 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LLH // 181: fn=CMPEQ, a=0xdeadbeef, b=0x00000005, y=0x00000000
000101 11011110101011011011111011101111 00000000000000000000000000000101 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLH // 182: fn=CMPLT, a=0xdeadbeef, b=0x00000005, y=0x00000001
000111 11011110101011011011111011101111 00000000000000000000000000000101 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLH LLH // 183: fn=CMPLE, a=0xdeadbeef, b=0x00000005, y=0x00000001
000011 01111111111111111111111111111111 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LHH // 184: fn=CMPEQ, a=0x7fffffff, b=0xffffffff, y=0x00000000
000101 01111111111111111111111111111111 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LHH // 185: fn=CMPLT, a=0x7fffffff, b=0xffffffff, y=0x00000000
000111 01111111111111111111111111111111 11111111111111111111111111111111 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL LHH // 186: fn=CMPLE, a=0x7fffffff, b=0xffffffff, y=0x00000000

// map FN[5:0] to text for operation
.plotdef op ? ? ? CMPEQ ? CMPLT ? CMPLE ? ? ? ? ? ? ? ? ADD SUB ? ? ? ? ? ? ? ? ? ? ? ? ? ? F0000 F0001 F0010 F0011 F0100 F0101 XOR F0111 AND XNOR A F1011 F1100 F1101 OR F1111 SHL SHR ? SRA ? ? ? ? ? ? ? ? ? ? ? ?

.plot op(FN[5:0])
.plot X(A[31:0])
.plot X(B[31:0])
.plot X(Y[31:0])
.plot Z
.plot V
.plot N